@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:wght@400&family=Inter:wght@300&display=swap");

:root {
  --title-font: "DM Serif Display", serif;
  --main-font: "Inter", serif;
}

*{
  margin:0;
  padding: 0;
}

head, body{
  overflow: hidden;
}

header{
  position:absolute;
  left: 10vmin;
  bottom: 10vmin;
}

h1 {
  font-family: var(--title-font);
	font-size: 8.5vmin;
	line-height: 8.5vmin;
	font-weight: 400;
}
h2 {
  font-family: var(--main-font);
	font-size: 2.9vmin;
	font-weight: normal;
	opacity: .7;
}

a{
  text-decoration: none;
}

img{
  position:absolute;
  right: 10vmin;
  bottom: 10vmin;
  max-width: 25vmin;
  max-height: 25vmin;
}