@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:wght@400&family=Crimson+Text:wght@400&display=swap");

:root {
  --title-font: "DM Serif Display", Cambria, Cochin, Georgia, "Times New Roman",
    serif;
  --main-font: "Crimson Text", Cambria, Cochin, Georgia, "Times New Roman",
    serif;
}

head, body{
  margin:0;
  padding:0;
}

header{
  position:absolute;
  left: 33px;
  bottom: 50px;
}

ul{
  position:absolute;
  right:33px;
  bottom: 50px;
  float:right;
  list-style-type: none;
}