@import url(http://fonts.googleapis.com/css?family=Quicksand|Roboto:400,400);

:root{
    --title-font:Quicksand, -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    --main-font: Quicksand, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    --bg-color: #190933;
    --main-color: #f8e8dd;
    --sec-color: #ffffff;
    --black-svg-to-main-color: invert(95%) sepia(1%) saturate(3945%) hue-rotate(322deg) brightness(102%) contrast(94%);

    --base-transition: all 0.25s ease-out;
}

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;         
}

html, body{
    padding: 0;
    margin: 0;
}
    body{
        color: var(--main-color);
        background: var(--bg-color);
        font-family:var(--main-font);
    }

a {
    color: var(--main-color);
    -webkit-transition: var(--base-transition);
    -moz-transition: var(--base-transition);
    transition: var(--base-transition);
    text-decoration: none;
}
    a:hover, a:focus {
        color: #0599c2;
        cursor:pointer;
        text-decoration: underline;
    }

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:center;
}
    .container-child{
        width:300px;
    }
    #container-child-1{
        margin-top: 5%;
    }
    #container-child-2{
        background-color: var(--main-color);
        height: 2px;
        border-radius:25%;
    }

.deadlink{
    cursor:not-allowed;
    display: inline-block;
    pointer-events: none;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin-top: 2%;
    padding: 10px;
}
    .grid-container-child{
        position:relative;
        justify-content:center;
        align-items:center;
        align-content: center;
        border: 2px solid var(--main-color);
        color:var(--main-color);
        border-radius: 5px;
        padding:12px;
        margin: 5px;
    }

h1, h2 {
    padding: 0;
    margin: 0;
    font-weight: normal;
}    
    h1 {
        padding-top: 0;
        padding-bottom: 5px;
        border: none;
        font-family: var(--title-font);
        font-size: 2.5em;
        font-weight:bolder;
    }
    h2 {
        padding-top: 0;
        padding-bottom: 5px;
        border: none;
        font-family: var(--main-font);
        font-size: 1.4em;
        font-weight:bolder;
        text-transform: none;
    }

.img-circ{
	height:300px;
	width:300px;
    overflow:hidden;
    border-radius: 50%;
}

.page-1{
    height:100vh;
    width: 100vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.social-carousel{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding:5px;
}
    .social-child{
        height:24px;
        width:24px;
        margin:10px;
        filter:var(--black-svg-to-main-color);
    }

.tint{
    transition: var(--base-transition);
}
    .tint:hover{
        filter: invert(60%);
    }

.title{
    transition: var(--base-transition);
}
    .title:hover{
        color: var(--sec-color);
    }

@media (min-width:720px) and (min-height:720px){
	.img-circ{
		width:540px;
		height:540px;
	}
	
	.social-child{
		height: 48px;
		width: 48px;
		margin: 15px;
	}
	
	.title{
		font-size:4em;
	}

	.container-child{
		width: 540px;
	}

    #container-child-1{
        margin-top: 10%;
    }

    .heading1{
        font-size: 2.8em;
    }

    .grid-container{
        margin-top: 5%;
    }

    .grid-container-child{
        padding: 20px;
        border-radius: 10px;
    }
}
